<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="voteStyle.css" rel="stylesheet" type="text/css">
    <title>Vote Now</title>
  </head>
  <body>
    <div class="header"><h1>Vote Your Way</h1></div>
    <div class="sidebar">
      <!-- Clicking on the dot or label will take the user to the vote -->
      <!-- The dots will change color depending on whether a vote has been cast for that item -->
      <ul>{{#each votingItems}}
	    <li>{{name}}
      {{/each}}</ul>
    </div>
    <div class="main-content">
	  {{#each votingItems}}
	  <!-- The info box which tells the user about the vote -->
	  <div class="info-box">{{this.name}}</div>
	  {{#each options}}
	    {{#if this.selected}}
		  <div class="vote-item selected">
		  {{this}}
		  </div>
	    {{else}}
		  <div class="vote-item">
		  {{this}}
		</div>
		{{/if}}
	  {{/each}}
	  {{/each}}
      <button>Previous</button>
      <button>Next</button>
      <button>Save and Log Out</button>
    </div>
    <script src="voteScript.js"></script>
  </body>
</html>